
.nav-link{
    color:#fff;
}
#Summary{
    padding:10px;
    text-align: justify;
    line-height: 25px;
    background-image: url("images/white.webp");
    display: block; 
    /* opacity: 0.8; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  color:#fff;
  font-weight: 500;
 
}
#Summary blockquote{
    background-color:#545b629e;
}
#Employment,#Skills,#contact,#Education{
    background-image: linear-gradient(#ccc);
    padding-left: 20px;
    padding-right: 20px;
}
a:hover{
    color: #ccc;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #707F82;
}
footer a{
    color: #545b62;
}